<!DOCTYPE html>
<html>
<head>
  <title>TinyTrip</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<div id="container">
		<header id="header" class="navbar">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a href="/" class="brand">TinyTrip<span>alpha</span></a>
				</div>
			</div>
		</header>
		<div id="content" class="container-fluid">
			<div id="content-inner" class="row-fluid">
				<%= yield %>
			</div>
		</div>
	</div>
	<%= javascript_include_tag "application" %>
	<%= yield :js %>
</body>
</html>
